<!DOCTYPE html>
<html lang="en">

<head>
  <title>Talk | About</title>
  <link rel="icon" href="logo2.png">
  <%- include('../partials/head.ejs'); %>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs'); %>
  </header>
  <h1 style="text-align: center; margin-bottom: 20px; font-size: 70px; color: white;" class="otto">About</h1>
  <div class="container4">
    <div class="box">
      <img
        src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t39.30808-6/234363092_1757016527801708_6767391264448843675_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFv3119fceuaJdNey8BwJ1_PXejp7HrpeE9d6Onseul4Vp34EjW9WhUKJNeDC8VNbkpZB03dyzjFow9IvpAcpOx&_nc_ohc=f-x-O1nVlFAAX-8zsR9&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfBt9S_LL1Fy9Vcrwx45qoYaJh8qSjpTT49-cepxtmdODg&oe=6468B01B"
        alt="" width="400px" height="400px">
      <h1>Mark Anthony Clerigo</h1>
      <h2>Contribution:</h2>
      <h3>Front-End</h3>
      <h3>Back-End</h3>
    </div>
    <div class="box">
      <img
        src="https://scontent.fmnl9-4.fna.fbcdn.net/v/t39.30808-6/230738345_1293228821096270_8491905833992722906_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGi2Ltm6NQfGenvBE89CT6K8YCK61JfIvDxgIrrUl8i8LVay5Ap7FVoXyfiUiN1EEPp9eIV0NrMAGhXAFWgJYaH&_nc_ohc=MCTb6mMjw74AX_-Hm1D&_nc_ht=scontent.fmnl9-4.fna&oh=00_AfDKFT1wimC1w6yxkdnucMqBpk09wDWrvdH4rq6rEQMO5g&oe=6468C984"
        alt="" width="400px" height="400px">
      <h1>Cesphillip Lorica</h1>
      <h2>Contribution:</h2>
      <h3>Front-End</h3>
    </div>
    <div class="box">
      <img
        src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t39.30808-6/233968714_1002914877178803_4606511074210869095_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGVCg85Tau7-uIRjVvXc2QLI5y6f_EMoXEjnLp_8QyhcdJC0iYfxm3FXp7f6Mz0sUVI24jFZYtOT55XzyHO7uOj&_nc_ohc=EPmo-KpcVK8AX_nfT7l&_nc_oc=AQnMwYXyqYr5rWdePMPZjyYgRcs4cKDUMQFU-Scc15Eu1afSrYIX6uF9ZMFhmhC5LXw5HRq1A9i2P1eHR509jKBc&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfAudkXOA0-XzT8VTUsGeDKdFf7re45iFobT4QtLTYjDeA&oe=646880AF"
        alt="" width="400px" height="400px">
      <h1>John Paul Noble</h1>
      <h2>Contribution:</h2>
      <h3>Front-End</h3>
      <h3>Back-End</h3>
    </div>
  </div>

</body>

</html>