<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk | Home</title>

    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <h1 style="text-align: center; margin-bottom: 20px; font-size: 70px; color: white;" class="otto">Home</h1>
    <div class="container3">
        <div class="intro">
            <h1>TALK.COMMUNICATE.ANONYMOUS</h1>
            <p>The team behind this magnificent program has been working on it for one week and is now ready to share it
                with you. Its application, called Talk, allows you to communicate with anyone anonymously.</p>
        </div>
        <div class="row noMargin">
            <div class="one">
                <h1>Guaranteed Free Speech</h1>
                <p>You can freely send and recieve whatever message you want to recieve without fears of censoring by
                    authorities.</p>
            </div>
            <div class="two">
                <img src="speak.png" alt="" height="400px" width="400px">
            </div>
        </div>
        <div class="row noMargin">
            <div class="three">
                <img src="anonymous.png" alt="" height="400px" width="400px">
            </div>
            <div class="four">
                <h1>Chat Anonymously</h1>
                <p>Send messages without leaking your precious informations. All you need is your Username and your good
                    to go.</p>
            </div>
        </div>
        <div class="row noMargin">
            <div class="one">
                <h1>Instant Messaging</h1>
                <p>Real-time messaging capabilities, allowing users to send and receive messages instantly.</p>
            </div>
            <div class="two">
                <img src="instant.png" alt="" height="400px" width="400px">
            </div>
        </div>
        <div class="row noMargin">
            <div class="three">
                <img src="community.png" alt="" height="400px" width="400px">
            </div>
            <div class="four">
                <h1>User-Friendly Interface</h1>
                <p>A well-designed and intuitive interface that is easy to navigate and use.</p>
            </div>
        </div>
        <button onclick="window.location.href='index'">Chat Now</button>
    </div>
</body>

</html>